<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    </head>
    <body>
        List of metiorites (hover for data):
        <div id="app">
            <meteor
                v-for="meteor in mets"
                :name="meteor.name" :date="meteor.year">
            </meteor>
            <div id="info">

            </div>
        </div>


    </body>
    <script src="static/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
        //populate_metiorites( []);
        //var j = document.getElementById("holder").innerHTML;
        //document.getElementById("holder").innerHTML="";
        populate_metiorites();
        //setup_Vue();
    </script>
    <style media="screen">
        #info {
            position: fixed;
            left: 300px;
            top: 10px;
        }
    </style>
</html>
